<p id="notice"><%= notice %></p>

<h1>Dependents</h1>

<table>
  <thead>
    <tr>
      <th>Relationship</th>
      <th>D name</th>
      <th>D email</th>
      <th>D contact</th>
      <th>D blood group</th>
      <th>D date of birth</th>
      <th>Weight</th>
      <th>Height</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependents.each do |dependent| %>
      <tr>
        <td><%= dependent.relationship %></td>
        <td><%= dependent.d_name %></td>
        <td><%= dependent.d_email %></td>
        <td><%= dependent.d_contact %></td>
        <td><%= dependent.d_blood_group %></td>
        <td><%= dependent.d_date_of_birth %></td>
        <td><%= dependent.weight %></td>
        <td><%= dependent.height %></td>
        <td><%= dependent.user_id %></td>
        <td><%= link_to 'Show', dependent %></td>
        <td><%= link_to 'Edit', edit_dependent_path(dependent) %></td>
        <td><%= link_to 'Destroy', dependent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dependent', new_dependent_path %>
