<p id="notice"><%= notice %></p>

<p>
  <strong>Relationship:</strong>
  <%= @dependent.relationship %>
</p>

<p>
  <strong>D name:</strong>
  <%= @dependent.d_name %>
</p>

<p>
  <strong>D email:</strong>
  <%= @dependent.d_email %>
</p>

<p>
  <strong>D contact:</strong>
  <%= @dependent.d_contact %>
</p>

<p>
  <strong>D blood group:</strong>
  <%= @dependent.d_blood_group %>
</p>

<p>
  <strong>D date of birth:</strong>
  <%= @dependent.d_date_of_birth %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @dependent.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @dependent.height %>
</p>

<p>
  <strong>User:</strong>
  <%= @dependent.user_id %>
</p>

<%= link_to 'Edit', edit_dependent_path(@dependent) %> |
<%= link_to 'Back', dependents_path %>
